import(lmerTest)
import(Hmisc)
importFrom(gplots, barplot2)
import(RColorBrewer)
import(parallel)


export(sensmixed)
export(consmixed)
export(convertToFactors)


S3method(print, sensmixed)
S3method(plot, sensmixed)
S3method(print, consmixed)



